body {
    background-color: #0d1117;
    color: #c9d1d9;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

img {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img:hover {
    border: 1px solid #58a6ff;
    cursor: pointer;
}body {
    background-color: #0d1117;
    color: #c9d1d9;
}

h1,
h2,
h3 {
    font-family: Arial, sans-serif;
}

img {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img:hover {
    border: 1px solid #58a6ff;
    cursor: pointer;
}